# Run artifacts
__pycache__/
*.py[cod]

# Notebooks
*.ipynb
.ipynb_checkpoints

# Logs


# Build artifacts
traktor.egg-info
build/
dist/

# Test artifacts
.coverage

# IDE Configuration
.idea
.vscode
