[Unit]
Description=Traktor Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/projects/env/traktor/bin/traktor gunicorn

[Install]
WantedBy=multi-user.target
